html, body{
    margin:0;
    background-image: linear-gradient(rgba(0, 30, 66, 0.5), rgba(0, 30, 66, 0.5)),url(images/Edinburgh_background.jpg);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
}
header {
    
    text-align: center;
    height: 30vh;
   /* background-color: rgba(0, 30, 66, 0.5);*/
   /* to make an image look greyed out, at it to a container then have another 
   container within have no margin and background colour like the above*/
}
h1{
    color: white;
    font-size: 300%;
    
}
nav {
    
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    
    
    
}

nav button {
    background-color: rgba(0, 30, 66, 0.4);
    padding: 2%;
    text-decoration: none;
    color: white;
    border-style: none;
    border-radius: 3px;
    font-size: 125%;
    
}
nav button:hover {
    background-color: rgba(0, 30, 66, 0.9);
    cursor: pointer;
    text-decoration: none;
    color: white;
    
}
.box_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:100vh;
    /*background-color: rgba(0, 30, 66, 0.5);*/
    
}
.show_box{
    
    color:white;
    padding:2%;
   
}
.show_box h2{
    text-align: center;
}
.show_box button{
    text-align: center;
}


/* amend styling for collabsilble*/
.collapsible {
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 100%;
  border-bottom-style: solid;
}

.active, .collapsible:hover {
  background-color: rgba(0, 30, 66, 0.9);
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  color:black;
}
.content a {
    text-decoration: none;
    color: black;
}


/* end of collapsible*/
@media screen and (max-width: 800px){

    nav{
        justify-content: center;
        align-items: center;
        
    }
    nav button{
        width:100%;
    }
    .box_container{
    display: flex;
    flex-direction: column;
    height:auto;
    }


}
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}   

/*Key info style sheet*/
.main-container{
  display: flex;
  justify-content: center;
  height:500px;
  width:100%;
}
.content-container{
  background-color: white;
  color: black;
  height: 100%;
  width:70%;
}
.content-container h2, p{
  margin-left: 10%;
}
@media screen and (max-width: 800px){
  .content-container {
    display: block

  }
  .content-container h2, p{
  margin-left: 10%;}
}